.favourite-hero {
    width: 94%;
    max-width: 1400px;
    min-height: 300px;
    margin: 110px auto 0;
    padding: 60px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    background-color: #123C2D;
}

.favourite-hero-content {
    max-width: 650px;
}

.favourite-hero .section-label {
    margin-bottom: 15px;
    color: #F59A32;
}

.favourite-hero h1 {
    margin: 0 0 20px;
    font-size: 52px;
    line-height: 1.05;
    color: #FFFFFF;
}

.favourite-hero p:last-child {
    max-width: 500px;
    margin: 0;
    font-size: 15px;
    line-height: 1.7;
    color: #DDE7D8;
}

@media (max-width: 768px) {

    .favourite-hero {
        width: calc(100% - 30px);
        min-height: 260px;
        margin: 90px auto 0;
        padding: 35px 24px;

        border-radius: 22px;
    }

    .favourite-hero-content {
        max-width: 100%;
    }

    .favourite-hero .section-label {
        margin-bottom: 10px;
        font-size: 10px;
        letter-spacing: 1.5px;
    }

    .favourite-hero h1 {
        margin-bottom: 14px;
        font-size: 38px;
        line-height: 1.08;
    }

    .favourite-hero p:last-child {
        max-width: 100%;
        font-size: 13px;
        line-height: 1.6;
    }

}